<div id="chordProject">
  <div id="chordProjectEditor"></div>
  <div id="chordProjectRenderer"></div>
</div>

<script type="text/javascript">
  async function getFileContent(file) {
    return new Promise((resolve, reject) => {
      const reader = new FileReader();
      reader.onload = function (event) {
        const fileContent = event.target.result;
        resolve(fileContent);
      };
      reader.onerror = function () {
        reject(reader.error);
      };
      reader.readAsText(file, "UTF-8");
    });
  }

  function getEditorContent() {
    return ChordProjectEditor.Main.getEditor().getValue();
  }

  function renderChordProject(chordSheet) {
    const cp = new ChordProjectParser.ChordProParser();
    const song = cp.parse(chordSheet);
    // const transposedSong = ChordProjectParser.Transposer.transpose(
    //   song,
    //   new ChordProjectParser.MusicNote(ChordProjectParser.MusicLetter.A, ChordProjectParser.MusicAccidental["#"]),
    // );

    const settings = new ChordProjectParser.FormatterSettings();
    settings.showMetadata = true;
    settings.showTabs = true;
    settings.useSimpleChord = false;
    settings.showChords = true;

    const formatter = new ChordProjectParser.HtmlFormatter(settings);
    const result = formatter.format(song);
    const renderer = document.getElementById("chordProjectRenderer");
    renderer.innerHTML = `${result.join("\n")}`;
  }

  (async () => {
    const fileResponse = await fetch("Praise Adonai.cho");
    const chordSheet = await fileResponse.text();

    ChordProjectEditor.Main.init();
    ChordProjectEditor.Main.run(chordSheet);
    renderChordProject(chordSheet);
  })();
</script>

<style>
  #chordProject {
    display: flex;

    #chordProjectEditor {
      flex: 1;
    }

    #chordProjectRenderer {
      flex: 1;
      font-family: monospace;

      .metadata {
        margin: 0 0 0.5rem 0;
      }

      .lyrics-line {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
      }

      .chord-lyrics {
        display: flex;
        flex-direction: column;
        align-items: left;
      }

      .above-lyrics {
        padding-right: 0.3em;
      }

      .tab-section {
        color: #008702;
      }

      .chord {
        font-weight: bold;
        color: #db3e00;
      }

      .chord-lyrics:last-child .chord {
        padding-right: 0;
      }

      .word {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-right: 0.33em;
        /*border: 1px solid red;*/
      }

      .empty-line {
        margin-top: 1.5em;
      }

      .song-metadata {
        margin-bottom: 20px;
        color: #590000;
        /*display:none;*/
      }

      .song-content {
        margin-top: 1.2em;
      }

      .chorus-section {
        font-weight: bold;
        border-left: 2px black solid;
        padding-left: 1em;
      }
    }
  }
</style>
