<button
  aria-label="Open a file"
  mat-icon-button>
  <mat-icon (click)="onButtonOpenFileClicked()">file_open</mat-icon>
</button>
<button
  aria-label="Save"
  mat-icon-button>
  <mat-icon (click)="onButtonSaveFileClicked()">save</mat-icon>
</button>
<button
  aria-label="Read"
  mat-icon-button>
  <mat-icon (click)="onButtonPlayClicked()">play_arrow</mat-icon>
</button>
<button
  aria-label="Edit"
  mat-icon-button>
  <mat-icon (click)="onButtonEditClicked()">edit</mat-icon>
</button>
<button
  aria-label="Show last consulted files"
  mat-icon-button>
  <mat-icon (click)="onButtonHistoryClicked()">history</mat-icon>
</button>
<div class="separator"></div>
<button
  aria-label="Zoom out"
  mat-icon-button>
  <mat-icon (click)="onButtonZoomOutClicked()">zoom_out</mat-icon>
</button>
<button
  aria-label="Zoom in"
  mat-icon-button>
  <mat-icon (click)="onButtonZoomInClicked()">zoom_in</mat-icon>
</button>
