:host {
  mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .container-toolbar {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .container-item-actions {
    display: flex;
  }
}
