<mat-list>
  <mat-list-item
    matRipple
    (click)="onButtonNewFileClicked()">
    <mat-icon
      matListItemIcon
      fontSet="material-icons-outlined">
      description
    </mat-icon>
    <div matListItemTitle>New file (Ctrl+Alt+N)</div>
  </mat-list-item>
  <mat-list-item
    matRipple
    (click)="canOpenFilePicker() ? onButtonOpenFileClicked($event) : inputFile.click()">
    <mat-icon
      matListItemIcon
      fontSet="material-icons-outlined">
      file_open
    </mat-icon>
    <div matListItemTitle>Open file (Ctrl+O)</div>
    <input
      class="file-input"
      #inputFile
      type="file"
      hidden
      [accept]="CHORDPRO_EXTENSIONS"
      (change)="onButtonOpenFileClicked($event)" />
  </mat-list-item>
  <mat-list-item
    [attr.matRipple]="isSaveExistingFileEnabled$ | async"
    [class.disabled]="!(isSaveExistingFileEnabled$ | async)"
    (click)="onButtonSaveFileClicked()">
    <mat-icon
      matListItemIcon
      fontSet="material-icons-outlined">
      save
    </mat-icon>
    <div matListItemTitle>Save file (Ctrl+S)</div>
  </mat-list-item>
  <mat-list-item
    matRipple
    (click)="onButtonSaveFileAsClicked()">
    <mat-icon
      matListItemIcon
      fontSet="material-icons-outlined">
      save_as
    </mat-icon>
    <div matListItemTitle>Save file as... (Ctrl+Shift+S)</div>
  </mat-list-item>
</mat-list>
