<h2 mat-dialog-title>Import lyrics</h2>
<mat-dialog-content>
  <!-- <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Type for search...</mat-label>
    <input
      matInput
      [(ngModel)]="search" />
  </mat-form-field> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close>
    Cancel
  </button>
  <button
    mat-button
    cdkFocusInitial
    [mat-dialog-close]="onButtonImportClicked()">
    Import
  </button>
</mat-dialog-actions>
