<button
  aria-label="Undo"
  matTooltip="Undo (Ctrl+Z)"
  mat-icon-button
  [disabled]="!hasEditorUndo"
  (click)="onButtonUndoClicked()">
  <mat-icon svgIcon="undo"></mat-icon>
</button>
<button
  aria-label="Redo"
  matTooltip="Redo (Ctrl+Y)"
  mat-icon-button
  [disabled]="!hasEditorRedo"
  (click)="onButtonRedoClicked()">
  <mat-icon svgIcon="redo"></mat-icon>
</button>
<button
  aria-label="File..."
  matTooltip="Open file menu..."
  mat-icon-button
  (click)="onButtonManageFileClicked()">
  <mat-icon svgIcon="folder_open"></mat-icon>
</button>
<button
  aria-label="Tools..."
  matTooltip="Open tools menu..."
  mat-icon-button
  (click)="onButtonToolsClicked()">
  <mat-icon fontSet="material-icons-outlined">extension</mat-icon>
</button>
<mat-button-toggle-group
  name="show-hide-lyrics"
  aria-label="Hide lyrics"
  multiple>
  <mat-button-toggle
    value="show-hide-lyrics"
    [matTooltip]="areLyricsDisplayed ? 'Hide lyrics' : 'Show lyrics'"
    [checked]="areLyricsDisplayed"
    (change)="onButtonToggleHideLyricsClicked($event)">
    <mat-icon [fontSet]="areLyricsDisplayed ? '' : 'material-icons-outlined'">lyrics</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
<button
  class="mobile-only"
  aria-label="Preview"
  matTooltip="Preview"
  mat-icon-button
  [disabled]="!isEditing"
  (click)="onButtonPreviewClicked()">
  <mat-icon>preview</mat-icon>
</button>
<button
  class="mobile-only"
  aria-label="Edit"
  matTooltip="Edit"
  mat-icon-button
  [disabled]="isEditing"
  (click)="onButtonEditClicked()">
  <mat-icon>edit</mat-icon>
</button>
<div class="separator"></div>
<button
  aria-label="Reset zoom"
  matTooltip="Reset zoom"
  mat-icon-button
  (click)="onButtonResetZoomClicked()">
  <mat-icon>search_off</mat-icon>
</button>
<button
  aria-label="Zoom out"
  matTooltip="Zoom out"
  mat-icon-button
  (click)="onButtonZoomOutClicked()">
  <mat-icon>zoom_out</mat-icon>
</button>
<button
  aria-label="Zoom in"
  matTooltip="Zoom in"
  mat-icon-button
  (click)="onButtonZoomInClicked()">
  <mat-icon>zoom_in</mat-icon>
</button>
