<button
  aria-label="Undo"
  title="Undo (Ctrl+Z)"
  mat-icon-button
  [disabled]="!(hasEditorUndo$ | async)"
  (click)="onButtonUndoClicked()">
  <mat-icon svgIcon="undo"></mat-icon>
</button>
<button
  aria-label="Redo"
  title="Redo (Ctrl+Y)"
  mat-icon-button
  [disabled]="!(hasEditorRedo$ | async)"
  (click)="onButtonRedoClicked()">
  <mat-icon svgIcon="redo"></mat-icon>
</button>
<button
  aria-label="File..."
  title="Open file menu..."
  mat-icon-button
  (click)="onButtonManageFileClicked()">
  <mat-icon svgIcon="folder_open"></mat-icon>
</button>
<button
  aria-label="Tools..."
  title="Open tools menu..."
  mat-icon-button
  (click)="onButtonToolsClicked()">
  <mat-icon fontSet="material-icons-outlined">extension</mat-icon>
</button>
<button
  aria-label="Settings..."
  title="Open settings menu..."
  mat-icon-button
  (click)="onButtonSettingsClicked()">
  <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
</button>
<button
  class="mobile-only"
  aria-label="Preview"
  title="Preview"
  mat-icon-button
  [disabled]="!(isEditing$ | async)"
  (click)="onButtonPreviewClicked()">
  <mat-icon>preview</mat-icon>
</button>
<button
  class="mobile-only"
  aria-label="Edit"
  title="Edit"
  mat-icon-button
  [disabled]="isEditing$ | async"
  (click)="onButtonEditClicked()">
  <mat-icon>edit</mat-icon>
</button>
<div class="separator"></div>
<button
  aria-label="Reset zoom"
  title="Reset zoom"
  mat-icon-button
  (click)="onButtonResetZoomClicked()">
  <mat-icon>search_off</mat-icon>
</button>
<button
  aria-label="Zoom out"
  title="Zoom out"
  mat-icon-button
  (click)="onButtonZoomOutClicked()">
  <mat-icon>zoom_out</mat-icon>
</button>
<button
  aria-label="Zoom in"
  title="Zoom in"
  mat-icon-button
  (click)="onButtonZoomInClicked()">
  <mat-icon>zoom_in</mat-icon>
</button>
