<mat-list>
  <mat-list-item
    matRipple
    (click)="onItemAllGuitarChordsComClicked()">
    <img
      matListItemIcon
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABCklEQVR4Ae2XgQYCQRCGNwB6tRIB0CPVhtADBBIpKqDbI0AVgIr2ul1UCgLCTTscznQR9lrHDv9hjJmPW7v/sGxwca5zES24kA+jlxFYEva681DO20FUYzR6y2vVFIyM4B/qBnKIMxkGAFS64jQhRYWrI6Ixw+ChbGLChTrhqcHwn2eT/ZWE3VHBWWnQ2o6w1/aosDeFmDHzuWWTWGhrMNXmoCjABQGSbDJOi1vtgVVhz1hpCpAwkgBdIACKzvMAPwPYOogeoPQA7g+hByjNPeAewAP417A0AO4tGTGl631cmCld55rSQE4/bXkMyqItx147asvT5cT5YuJ8NXO/nH5Zz58FDH7mredvLgNYRf4Se30AAAAASUVORK5CYII=" />
    <div matListItemTitle>{{ "Chord identifier" }}</div>
    <div matListItemLine>{{ "all-guitar-chords.com (opens a new tab)" }}</div>
  </mat-list-item>
  <mat-list-item
    matRipple
    (click)="onItemLyricsOvhClicked()">
    <mat-icon matListItemIcon>language</mat-icon>
    <div matListItemTitle>{{ "Find lyrics" }}</div>
    <div matListItemLine>{{ "lyrics.ovh" }}</div>
  </mat-list-item>
  <mat-list-item
    matRipple
    (click)="onItemSongBpmComClicked()">
    <img
      matListItemIcon
      src="https://songbpm.com/favicon.svg" />
    <div matListItemTitle>{{ "Find tempo" }}</div>
    <div matListItemLine>{{ "songbpm.com" }}</div>
  </mat-list-item>
  <mat-list-item
    matRipple
    (click)="onItemYouTubeComClicked()">
    <img
      matListItemIcon
      src="https://www.youtube.com/s/desktop/eb0437e6/img/logos/favicon_96x96.png" />
    <div matListItemTitle>{{ "Search YouTube URL" }}</div>
    <div matListItemLine>{{ "youtube.com (opens a new tab)" }}</div>
  </mat-list-item>
  <mat-list-item
    matRipple
    (click)="onItemSoloTabEditorClicked()">
    <mat-icon matListItemIcon>format_list_numbered_rtl</mat-icon>
    <div matListItemTitle>{{ "Solo tab editor" }}</div>
    <div matListItemLine>{{ "Fast solo tab builder" }}</div>
  </mat-list-item>
</mat-list>
