@use "@angular/material" as mat;
@import "material-icons/iconfont/material-icons.css";
@import "ngx-toastr/toastr";

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);

body {
  font-family: sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.17rem;
  font-weight: bold;
}

.js-is-top-sheet-enabled {
  .cdk-global-overlay-wrapper {
    align-items: flex-start !important;
  }

  .cdk-overlay-backdrop:not(.cdk-overlay-backdrop-showing) + .cdk-global-overlay-wrapper mat-bottom-sheet-container {
    display: none !important;
  }
}

@media screen and (min-width: 1440px) {
  .mobile-only {
    display: none !important;
  }
}
@media screen and (max-width: 1439px) {
  .opposite-of-mobile-only {
    display: none !important;
  }
}
