@import "material-icons/iconfont/material-icons.css";
@import "ngx-toastr/toastr";

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.17rem;
  font-weight: bold;
}

@media screen and (min-width: 1440px) {
  .mobile-only {
    display: none !important;
  }
}
