<mat-list>
  <mat-list-item
    matRipple
    (click)="onButtonInsertTabClicked()">
    <div matListItemTitle>{{ "Insert {tab}" }}</div>
  </mat-list-item>
  <mat-list-item
    matRipple
    (click)="onButtonInsertVerseClicked()">
    <div matListItemTitle>{{ "Insert {verse}" }}</div>
  </mat-list-item>
  <mat-list-item
    matRipple
    (click)="onButtonInsertChorusClicked()">
    <div matListItemTitle>{{ "Insert {chorus}" }}</div>
  </mat-list-item>
  <mat-list-item
    matRipple
    (click)="onButtonInsertBridgeClicked()">
    <div matListItemTitle>{{ "Insert {bridge}" }}</div>
  </mat-list-item>
</mat-list>
